@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/*NAVBAR*/
header {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 10;
  width: 90%;
  padding: 1rem, 9%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*z-index: 100;*/
}
.logo {
  font-size: 2rem;
  color: purple;
  margin-left: 2rem;
  font-weight: 800;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.hamburger,
.fa-bars {
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
  display: none;
}

nav a {
  font-size: 1.5rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: purple;
}

@media (max-width: 995px) {
  .hamburger,
  .fa-bars {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 30%;
    border-left: 3px solid purple;
    border-bottom-left-radius: 2rem;
    border-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
  }

  nav.open {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid purple;
  }
}

/*Body of homepage*/

section {
  min-height: 100vh;
  padding: 5rem 9% 5 rem;
}

.home {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}

img {
  width: 100%;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: purple;
}

.home-content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.5rem;
}

.home-image img {
  border-radius: 50%;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid purple;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;

  transition: 0.3s ease;
  color: purple;
}

.social-icons a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  background-color: purple;
  box-shadow: 0 0 25px purple;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: purple;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn :hover {
  transform: scale3d(1.03);
  background-color: purple;
  color: black;

  box-shadow: 0 0 25px purple;
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }

  @media (max-width: 995px) {
    .home {
      flex-direction: column;
      margin: 5rem 4rem;
    }

    .home-content {
      font-size: 2.5rem;
    }

    .home-content h1 {
      font-size: 5rem;
    }

    .img {
      width: 70vw;
      margin-top: 4rem;
    }
  }
}

/*About me*/

section .container,
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

section .about,
.education {
  height: calc(100vh - 85px);
}

.title {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.p {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 600px;
  margin-left: 2rem;
  line-height: 2rem;
  color: rgb(184, 184, 184);
}
.about-left h2 {
  margin-left: 2rem;
  line-height: 1.2;
}

.education .right-side h4 {
  line-height: 3rem;
  font-size: 2rem;
  color: purple;
  margin-top: 3px;
  margin-bottom: 4px;
  opacity: 0.7;
}

.education .right-side p {
  font-size: 1.5rem;
  margin-right: 5px;
}

.education .right-side ul {
  font-size: 2rem;
  list-style: none;
  margin: 15px 20px;
}
.cv a {
  color: purple;
  text-decoration: none;
}
/*Projects*/

.projectTitle h2 {
  font-size: 3rem;
  margin-left: 3rem;
}

.projectTitle h4 {
  color: purple;
  margin-bottom: 3rem;
  margin-left: 3rem;
  font-size: 2rem;
}

/*Card*/
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px;
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: flex;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 110px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: white;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.description .link {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 12px 27px;
  color: white;
  font-size: 1.6rem;
  box-shadow: 0 0 25px purple, 0 0 25px purple;
}

.description .link:hover {
  box-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple,
    0 0 200px purple;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.card[for="c2"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.card[for="c3"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.card[for="c4"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.card[for="c5"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.card[for="c6"] {
  background-image: url("/pictures/pexels-danbuilds-633409.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/*CONTACT*/

.footer {
  margin-left: 3rem;
  line-height: 1.3;
}

.footer h2 {
  color: purple;
}

footer {
  text-align: center;
  font-size: 2rem;
}
